*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/week_1/firstproject/nbproject/private/
/week_1/firstproject/build/
/review/chapter_7_63/nbproject/private/
/review/chapter_7_63/build/
/review/chapter_8_62/nbproject/private/
/review/chapter_8_62/build/
/review/chapter_8_63/nbproject/private/
/review/chapter_8_63/build/
/week_1/in_class_exercise_week_1/nbproject/private/
/week_1/in_class_exercise_week_1/build/
/homework_2/chapter_10_game/nbproject/private/
/homework_2/chapter_10_game/build/
/week_2/lab_1_17/nbproject/private/
/week_2/lab_1_17/build/
/homework/chapter_10_game/build/
/homework/chapter_10_store/nbproject/private/
/homework/chapter_10_store/build/
/week_3/chapter_10_12-20/nbproject/private/
/week_3/chapter_10_12-20/build/
/homework/chapter_10_abstracts/nbproject/private/
/homework/chapter_10_abstracts/build/
/homework/lab_1_31/nbproject/private/
/homework/lab_1_31/build/
/Week 4/lab_1_31/nbproject/private/
/week_4/lab_1_31/build/
/homework/myarraylist/nbproject/private/
/week_4/lab_1_2/nbproject/private/
/week_4/lab_2_2/nbproject/private/
/week_1/lab_1_10/build/
/week_4/lab_2_2/build/
/homework/myarraylist/build/
/week_5/lab_2_7/nbproject/private/
/homework/chapter_11_homework_5/nbproject/private/
/homework/chapter_11_homework_5/build/
/week_5/lab_2_7/build/
/homework/homework_6/nbproject/private/
/homework/homework_6/build/
/week_6/lab_2_14/nbproject/private/
/week_6/lab_2_14/build/
/week_6/lab_2_16/nbproject/private/
/week_6/lab_2_16/build/
/homework/homework_8/nbproject/private/
/week_8/lab_2_28/nbproject/private/
/week_8/lab_2_28/build/
/week_9/lab_3_2/nbproject/private/
/week_9/lab_3_2/build/
/homework/homework_8/build/
/homework/homework_9/nbproject/private/
/homework/homework_9/build/
/examples/threadExamples/nbproject/private/
/examples/threadExamples/build/
/week_10/lab_3_9/nbproject/private/
/homework/homework_10/nbproject/private/
/week_11/lab_3_21/nbproject/private/
/week_11/lab_3_21/build/
/week_11/lab_3_23/nbproject/private/
/week_11/lab_3_23/build/
/homework/homework_10/build/
/examples/json-example/target/
/examples/json-example-netbeans/nbproject/private/
/examples/json-example-netbeans/build/
/examples/json-example-netbeans/dist/
/homework/homework_11/nbproject/private/
/homework/homework_11/build/
/final/JTetris/nbproject/private/
/labs/week_12/lab_4_4/nbproject/private/
/labs/week_12/lab_4_4/build/
/labs/week_13/lab_4_4/nbproject/private/
/labs/week_13/lab_4_4/build/
/homework/homework_12/nbproject/private/
/homework/homework_12/build/
/labs/week_14/lab_4_13/nbproject/private/
/labs/week_14/lab_4_13/build/
/final/JTetris/build/
/final/JTetris/dist/
/homework/homework_12/dist/